footer {
  margin-top:50px;
  text-align:center;
  .logo-container { background: url('../images/footer-bg.jpg') no-repeat; background-size:cover; padding-top:23px; padding-bottom:23px; }
  .below-footer { color:white; background:black; padding-top:25px; padding-bottom:25px; }
}